<div class="absolute w-full top-[15%] flex">
  <svg
    version="1.1"
    id="fish2"
    width="200"
    height="81.739227"
    viewBox="0 0 150 81.739224"
    xmlns="http://www.w3.org/2000/svg"
  >
    <defs id="defs1">
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath417">
        <path
          d="M 0,858.898 H 612.283 V 0 H 0 Z"
          transform="translate(-447.21781,-446.84051)"
          id="path417"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath419">
        <path
          d="M 0,858.898 H 612.283 V 0 H 0 Z"
          transform="translate(-439.24411,-451.31661)"
          id="path419"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath421">
        <path
          d="M 0,858.898 H 612.283 V 0 H 0 Z"
          transform="translate(-450.24021,-439.51631)"
          id="path421"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath423">
        <path
          d="M 0,858.898 H 612.283 V 0 H 0 Z"
          transform="translate(-468.48141,-431.79651)"
          id="path423"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath425">
        <path
          d="M 0,858.898 H 612.283 V 0 H 0 Z"
          transform="translate(-489.88381,-463.20231)"
          id="path425"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath427">
        <path
          d="M 0,858.898 H 612.283 V 0 H 0 Z"
          transform="translate(-469.27151,-472.25111)"
          id="path427"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath429">
        <path
          d="M 0,858.898 H 612.283 V 0 H 0 Z"
          transform="translate(-500.72071,-451.30041)"
          id="path429"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath431">
        <path
          d="M 0,858.898 H 612.283 V 0 H 0 Z"
          transform="translate(-492.95701,-451.18721)"
          id="path431"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath433">
        <path
          d="M 0,858.898 H 612.283 V 0 H 0 Z"
          transform="translate(-490.47271,-452.27701)"
          id="path433"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath434">
        <path
          d="M 447.184,446.841 H 499.32 V 429.953 H 447.184 Z"
          transform="translate(-458.41311,-432.24581)"
          id="path434"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath436">
        <path
          d="M 0,858.898 H 612.283 V 0 H 0 Z"
          transform="matrix(1.3333333,0,0,-1.3333333,-11.33852,1133.8588)"
          id="path436"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath438">
        <path
          d="M 0,858.898 H 612.283 V 0 H 0 Z"
          transform="translate(-479.62111,-442.20671)"
          id="path438"></path>
      </clipPath>
    </defs>
    <g id="layer-MC0" transform="translate(-564.71894,-488.82418)">
      <g id="buntut2" transform="matrix(0.98121058,0,0,1,11.037267,0)">
        <path
          id="path416"
          d="m 0,0 c 0,0 -5.407,5.459 -11.306,4.611 -5.899,-0.849 -4.928,-20.317 2.068,-20.785 6.997,-0.468 10.85,9.433 10.85,9.433 0,0 1.157,5.328 -1.612,6.741"
          style="fill:#fccc54;fill-opacity:1;fill-rule:nonzero;stroke:none"
          transform="matrix(1.3333333,0,0,-1.3333333,584.95188,538.07148)"
          clip-path="url(#clipPath417)"></path>
        <path
          id="path418"
          d="m 0,0 c -1.069,0.223 -2.19,0.299 -3.332,0.135 -5.899,-0.849 -4.929,-20.317 2.067,-20.785 0.924,-0.062 1.791,0.061 2.604,0.314 C -4.291,-17.857 -4.946,-1.794 0,0"
          style="fill:#524ac6;fill-opacity:1;fill-rule:nonzero;stroke:none"
          transform="matrix(1.3333333,0,0,-1.3333333,574.32028,532.10335)"
          clip-path="url(#clipPath419)"></path>
      </g>
      <path
        id="path420"
        d="M 0,0 C 0,-0.337 -3.563,-4.348 -1.41,-8.374 0.743,-12.4 7.767,-14.649 17.668,-9.315 27.569,-3.981 0,0 0,0"
        style="fill:#524ac6;fill-opacity:1;fill-rule:nonzero;stroke:none"
        transform="matrix(1.3333333,0,0,-1.3333333,588.98175,547.83708)"
        clip-path="url(#clipPath421)"></path>
      <path
        id="path422"
        d="M 0,0 C 0.086,-1.383 -1.119,-5.15 -2.207,-7.666 -2.56,-8.481 -1.929,-9.383 -1.043,-9.322 19.898,-7.877 22.072,5.777 22.072,5.777 16.224,0.795 2.372,0.273 0,0"
        style="fill:#524ac6;fill-opacity:1;fill-rule:nonzero;stroke:none"
        transform="matrix(1.3333333,0,0,-1.3333333,613.30335,558.13015)"
        clip-path="url(#clipPath423)"></path>
      <path
        id="path424"
        d="M 0,0 C 0,0 -4.527,20.458 -19.205,20.573 -33.883,20.687 -42.689,6.132 -45.747,-2.186 -47.215,-7.2 -46.38,-12.979 -42.699,-15.166 -39.02,-17.352 -28.131,10.992 0,0"
        style="fill:#524ac6;fill-opacity:1;fill-rule:nonzero;stroke:none"
        transform="matrix(1.3333333,0,0,-1.3333333,641.83988,516.25575)"
        clip-path="url(#clipPath425)"></path>
      <path
        id="path426"
        d="m 0,0 c 0,0 12.963,3.074 20.612,-9.049 3.043,-4.902 5.69,-10.441 10.837,-11.902 2.387,-0.541 3.54,-0.279 3.733,-2.382 0.193,-2.103 -1.49,-3.197 -4.123,-3.776 -2.634,-0.579 -5.805,-1.572 -8.411,-5.792 -1.109,-1.802 -10.444,-14.497 -33.506,-7.104 -2.83,1.134 -11.847,6.021 -11.196,14.594 C -21.403,-16.837 -14.031,-3.586 0,0"
        style="fill:#fccc54;fill-opacity:1;fill-rule:nonzero;stroke:none"
        transform="matrix(1.3333333,0,0,-1.3333333,614.35681,504.19068)"
        clip-path="url(#clipPath427)"></path>
      <path
        id="path428"
        d="m 0,0 c -5.147,1.461 -7.794,7 -10.837,11.902 -0.827,1.31 -1.719,2.433 -2.646,3.412 -1.539,-2.316 -5.693,-9.347 -5.693,-17.801 0,-7.434 3.946,-11.904 6.188,-13.849 2.484,1.909 3.811,3.774 4.187,4.385 2.606,4.221 5.777,5.213 8.41,5.792 2.634,0.58 4.317,1.674 4.123,3.777 C 3.54,-0.28 2.387,-0.542 0,0"
        style="fill:#ffdfc5;fill-opacity:1;fill-rule:nonzero;stroke:none"
        transform="matrix(1.3333333,0,0,-1.3333333,656.28908,532.12495)"
        clip-path="url(#clipPath429)"></path>
      <path
        id="path430"
        d="m 0,0 c 0,-1.544 -1.251,-2.795 -2.795,-2.795 -1.544,0 -2.796,1.251 -2.796,2.795 0,1.544 1.252,2.795 2.796,2.795 C -1.251,2.795 0,1.544 0,0"
        style="fill:#222221;fill-opacity:1;fill-rule:nonzero;stroke:none"
        transform="matrix(1.3333333,0,0,-1.3333333,645.93748,532.27588)"
        clip-path="url(#clipPath431)"></path>
      <path
        id="path432"
        d="m 0,0 c 0,-0.544 -0.441,-0.985 -0.985,-0.985 -0.544,0 -0.986,0.441 -0.986,0.985 0,0.544 0.442,0.985 0.986,0.985 C -0.441,0.985 0,0.544 0,0"
        style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
        transform="matrix(1.3333333,0,0,-1.3333333,642.62508,530.82281)"
        clip-path="url(#clipPath433)"></path>
      <path
        id="sirip2"
        d="m 0,0 c -3.075,-1.49 -5.844,-2.36 -9.421,-1.972 -1.779,-0.372 0.297,-6.071 5.23,-5.987 2.397,0.041 4.295,1.574 5.267,3.7 C 1.549,-3.225 2.353,1.153 0.204,0.099 0.136,0.066 0.068,0.033 0,0"
        style="fill:#524ac6;fill-opacity:1;fill-rule:nonzero;stroke:none"
        transform="matrix(1.3333333,0,0,-1.3333333,628.15628,544.24988)"
        clip-path="url(#clipPath438)"></path>
      <g opacity="0.5" id="g435" clip-path="url(#clipPath436)">
        <path
          d="m 0,0 c 23.062,-7.393 32.397,5.303 33.507,7.104 2.28,3.692 4.993,4.915 7.399,5.55 0,0 -7.516,-0.241 -11.953,-3.804 C 24.518,5.287 -2.955,1.553 -11.195,14.595 -11.847,6.021 -2.829,1.135 0,0"
          style="fill:#fccc54;fill-opacity:1;fill-rule:nonzero;stroke:none"
          transform="matrix(1.3333333,0,0,-1.3333333,599.87895,557.53108)"
          clip-path="url(#clipPath434)"
          id="path435"></path>
      </g>
    </g>
  </svg>
</div>
<script>
  import { animate} from "motion";

  animate(
    "#sirip2",
    {
      transform: "matrix(1.3333333,0,0,-1.9905227,628.15628,544.42175)",
    },
    {
      duration: 1,
      delay: 2,
      easing: "ease-in-out",
      repeat: Infinity,
      direction: "alternate",
    }
  );
  animate(
    "#buntut2",
    {
      transform: "matrix(1.3569981,0,0,1,-209.70814,0)",
    },
    {
      duration: 1.5,
      delay: 2,
      easing: "ease-in-out",
      repeat: Infinity,
      direction: "alternate-reverse",
    }
  );

  animate(
    "#fish2",
    {
      x: ["-200px", "300px", "800px"],
      y: ["-50px"],
    },
    {
      duration: 8,
      easing: ["linear"],
      repeat: Infinity,
      direction: "normal",
    }
  );
</script>
