<div class="absolute w-full top-[40%] flex justify-end">
    <svg
    version="1.1"
    id="fish1"
    width="120"
    height="54.931705"
    viewBox="0 0 120 54.931703"
    class="-right-60"
    xmlns="http://www.w3.org/2000/svg">
    <defs
        id="defs1">
        <clipPath
        clipPathUnits="userSpaceOnUse"
        id="clipPath440">
        <path
            d="M 0,858.898 H 612.283 V 0 H 0 Z"
            transform="translate(-118.0381,-394.49141)"
            id="path440" />
        </clipPath>
        <clipPath
        clipPathUnits="userSpaceOnUse"
        id="clipPath442">
        <path
            d="M 0,858.898 H 612.283 V 0 H 0 Z"
            transform="translate(-115.0845,-424.79701)"
            id="path442" />
        </clipPath>
        <clipPath
        clipPathUnits="userSpaceOnUse"
        id="clipPath444">
        <path
            d="M 0,858.898 H 612.283 V 0 H 0 Z"
            transform="translate(-95.137202,-409.42981)"
            id="path444" />
        </clipPath>
        <clipPath
        clipPathUnits="userSpaceOnUse"
        id="clipPath446">
        <path
            d="M 0,858.898 H 612.283 V 0 H 0 Z"
            transform="translate(-160.5786,-407.70821)"
            id="path446" />
        </clipPath>
        <clipPath
        clipPathUnits="userSpaceOnUse"
        id="clipPath448">
        <path
            d="M 0,858.898 H 612.283 V 0 H 0 Z"
            transform="translate(-120.89841,-425.54411)"
            id="path448" />
        </clipPath>
        <clipPath
        clipPathUnits="userSpaceOnUse"
        id="clipPath450">
        <path
            d="M 0,858.898 H 612.283 V 0 H 0 Z"
            transform="translate(-170.6997,-416.48261)"
            id="path450" />
        </clipPath>
        <clipPath
        clipPathUnits="userSpaceOnUse"
        id="clipPath452">
        <path
            d="M 0,858.898 H 612.283 V 0 H 0 Z"
            transform="translate(-170.6997,-416.48261)"
            id="path452" />
        </clipPath>
        <clipPath
        clipPathUnits="userSpaceOnUse"
        id="clipPath454">
        <path
            d="M 0,858.898 H 612.283 V 0 H 0 Z"
            transform="translate(-133.9341,-408.71601)"
            id="path454" />
        </clipPath>
        <clipPath
        clipPathUnits="userSpaceOnUse"
        id="clipPath456">
        <path
            d="M 0,858.898 H 612.283 V 0 H 0 Z"
            transform="translate(-109.21581,-409.41811)"
            id="path456" />
        </clipPath>
        <clipPath
        clipPathUnits="userSpaceOnUse"
        id="clipPath458">
        <path
            d="M 0,858.898 H 612.283 V 0 H 0 Z"
            transform="translate(-107.1396,-410.50891)"
            id="path458" />
        </clipPath>
        <clipPath
        clipPathUnits="userSpaceOnUse"
        id="clipPath459">
        <path
            d="M 92.6163,411.62 H 161 V 393.128 H 92.6163 Z"
            transform="translate(-160.5786,-407.70821)"
            id="path459" />
        </clipPath>
        <clipPath
        clipPathUnits="userSpaceOnUse"
        id="clipPath461">
        <path
            d="M 0,858.898 H 612.283 V 0 H 0 Z"
            transform="matrix(1.3333333,0,0,-1.3333333,-11.33852,1133.8588)"
            id="path461" />
        </clipPath>
    </defs>
    <g
        id="layer-MC0"
        transform="translate(-112.09788,-559.29867)">
        <g
        id="g1"
        style="display:inline">
        <path
            id="path439"
            d="m 0,0 c -0.593,-0.059 11.074,-8.667 38.631,-2.614 3.488,0.831 2.548,3.795 1.237,5.624 -1.311,1.829 -0.835,6.012 -0.381,7.125 C 39.941,11.246 20.854,2.078 0,0"
            style="fill:#fccc54;fill-opacity:1;fill-rule:nonzero;stroke:none"
            transform="matrix(1.3333333,0,0,-1.3333333,146.04561,607.87028)"
            clip-path="url(#clipPath440)" />
        <path
            id="path441"
            d="M 0,0 C 0,0 0.746,7.28 26.249,5.964 44.924,4.977 49.943,1.852 48.462,0 46.981,-1.852 38.689,-6.433 43.206,-16.4 43.206,-16.4 19.822,-1.521 0,0"
            style="fill:#fccc54;fill-opacity:1;fill-rule:nonzero;stroke:none"
            transform="matrix(1.3333333,0,0,-1.3333333,142.10748,567.46281)"
            clip-path="url(#clipPath442)" />
        <path
            id="path443"
            d="m 0,0 c 2.523,1.527 5.017,3.193 6.476,5.842 1.115,2.024 1.86,4.02 3.478,5.743 3.891,4.145 9.769,5.029 15.198,4.593 11.043,-0.887 28.72,-6.766 40.289,-17.9 C 66.796,-3.851 65.04,-5.559 57.943,-7.984 50.846,-10.41 29.079,-19.768 10.477,-14.938 5.879,-13.915 -8.311,-5.034 0,0"
            style="fill:#e3c4ff;fill-opacity:1;fill-rule:nonzero;stroke:none"
            transform="matrix(1.3333333,0,0,-1.3333333,115.51108,587.95241)"
            clip-path="url(#clipPath444)" />
        <path
            id="path445"
            d="m 0,0 c -9.669,9.305 -23.591,14.926 -34.354,17.044 1.663,-2.913 4.321,-8.266 3.28,-11.18 -1.476,-4.134 -6.314,-6.271 -5.905,-10.777 0.322,-3.553 2.609,-7.369 3.564,-8.827 11.448,1.796 21.51,5.971 25.916,7.477 C -0.401,-3.837 1.355,-2.129 0,0"
            style="fill:#524ac6;fill-opacity:1;fill-rule:nonzero;stroke:none"
            transform="matrix(1.3333333,0,0,-1.3333333,202.76628,590.24788)"
            clip-path="url(#clipPath446)" />
        <path
            id="path447"
            d="m 0,0 c -0.2,0.019 -0.413,0.048 -0.609,0.063 -3.266,0.263 -6.692,0.041 -9.753,-1.075 -1.637,-1.957 -3.546,-5.035 -0.959,-6.441 C -7.922,-9.3 -1.504,-3.288 0,0"
            style="fill:#524ac6;fill-opacity:1;fill-rule:nonzero;stroke:none"
            transform="matrix(1.3333333,0,0,-1.3333333,149.85935,566.46668)"
            clip-path="url(#clipPath448)" />
        <g
            id="buntut">
            <path
            id="path449"
            d="m 0,0 c -5.363,0.538 -11.73,-8.539 -11.73,-8.539 l -0.129,-2.486 c 0,0 8.231,-12.7 11.307,-10.966 C 7.729,-17.418 5.363,-0.538 0,0"
            style="display:inline;fill:#524ac6;fill-opacity:1;fill-rule:nonzero;stroke:none"
            transform="matrix(1.3333333,0,0,-1.3333333,216.26108,578.54868)"
            clip-path="url(#clipPath450)" />
            <path
            id="path451"
            d="m 0,0 c -0.776,0.077 -1.572,-0.062 -2.368,-0.331 4.401,-2.341 5.989,-16.186 -0.698,-21.078 0.983,-0.666 1.864,-0.948 2.514,-0.582 C 7.729,-17.418 5.363,-0.538 0,0"
            style="display:inline;fill:#fccc54;fill-opacity:1;fill-rule:nonzero;stroke:none"
            transform="matrix(1.3333333,0,0,-1.3333333,216.26108,578.54868)"
            clip-path="url(#clipPath452)" />
        </g>
        <path
            id="sirip"
            d="M 0,0 C -1.47,1.081 -5.183,-1.062 -6.827,-2.115 -7.546,-2.576 -7.98,-3.391 -7.912,-4.242 -7.675,-7.171 -3.577,-9.827 -1.225,-9.111 1.551,-8.268 1.914,-1.406 0,0"
            style="fill:#e3c4ff;fill-opacity:1;fill-rule:nonzero;stroke:none"
            transform="matrix(1.3333333,0,0,-1.3333333,167.24028,588.90415)"
            clip-path="url(#clipPath454)" />
        </path>
        <path
            id="path455"
            d="m 0,0 c 0,-1.525 -1.237,-2.762 -2.762,-2.762 -1.525,0 -2.761,1.237 -2.761,2.762 0,1.525 1.236,2.762 2.761,2.762 C -1.237,2.762 0,1.525 0,0"
            style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            transform="matrix(1.3333333,0,0,-1.3333333,134.28255,587.96801)"
            clip-path="url(#clipPath456)" />
        <path
            id="path457"
            d="m 0,0 c 0,-0.635 -0.515,-1.149 -1.149,-1.149 -0.635,0 -1.149,0.514 -1.149,1.149 0,0.635 0.514,1.149 1.149,1.149 C -0.515,1.149 0,0.635 0,0"
            style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
            transform="matrix(1.3333333,0,0,-1.3333333,131.51428,586.51361)"
            clip-path="url(#clipPath458)" />
        <g
            id="g460"
            clip-path="url(#clipPath461)">
            <path
            d="M 0,0 C -1.439,1.386 -2.974,2.688 -4.577,3.911 -7.93,0.157 -15.654,-5.217 -30.706,-7.663 c -17.974,-2.921 -33.849,3.602 -37.256,5.139 0.624,-4.688 9.532,-9.921 12.997,-10.693 18.603,-4.829 40.369,4.529 47.466,6.954 C -0.401,-3.837 1.355,-2.129 0,0"
            style="fill:#e3c4ff;fill-opacity:1;fill-rule:nonzero;stroke:none"
            transform="matrix(1.3333333,0,0,-1.3333333,202.76628,590.24788)"
            clip-path="url(#clipPath459)"
            id="path460" />
        </g>
        </g>
    </g>
    </svg>
</div>
<script>
    import { animate } from 'motion';

    animate("#sirip", {
        transform: "matrix(1.8192288,0,0,-1.3333333,171.08808,588.90415)",
    }, {
        duration: 0.5,
        delay: 1, 
        easing: "ease-in-out",
        repeat: Infinity,
        direction: "alternate"
    })
    animate("#buntut", {
        transform: "matrix(1.4126021,0,0,1,-82.705719,0)",
    }, {
        duration: 1,
        delay: 1, 
        easing: "ease-in-out",
        repeat: Infinity,
        direction: "alternate-reverse"
    })

    animate(
        "#fish1",
        {
            x: ["200px", "-300px", "-800px"],
            y: ["50px"],
        },
        {
            duration: 5,
            easing: ["linear"],
            repeat: Infinity,
            direction:"normal"
        }
    )
</script>